<mat-card>
  <mat-card-title>How to</mat-card-title>
  <ol>
    <li>Select a pair</li>
    <li>Optional: click on visualize to</li>
    <li>Setup the price range the bot operates in (Upper and Lower wall)</li>
    <li>Enter the max number of grids (The bot will calculate the possible grid distance and reduces the amount to the possible amount inside the range)</li>
    <li>Enter the Amount per Grid (per Order) in the quote (COS_ETH -> in ETH) (If the number is lower then the min Order Size the save button is greyed out</li>
    <li>Click on visualize and check if everything is as you wish</li>
    <li>Click on save</li>
    <li>Click on start</li>
  </ol>
</mat-card>

<div class="flex-container">

  <mat-card>
    <mat-card-title>Details</mat-card-title>
    <p>Name: {{ bot?.name }} </p>
    <p>Type: {{ bot?.type }} </p>
    <p>Status: {{ bot?.status }} </p>
  </mat-card>

  <!--<apx-chart *ngIf="bot?.status === 'Running' && bot?.config?.orders && bot?.config?.orders.length > 0 && seriesRunning && seriesRunning.length > 0" [tooltip]="tooltip" [series]="seriesRunning" [chart]="chart" [title]="title"-->
             <!--[xaxis]="xAxis" [yaxis]="yAxis" [stroke]="stroke" [colors]="colors" [grid]="grid"-->
             <!--[legend]="legend"></apx-chart>-->
</div>

<mat-card>
  <mat-card-title>Action</mat-card-title>
  <ng-container *ngIf="bot?.status === 'Crashed'">
    <button mat-raised-button color="primary" (click)="startBot()">Restart</button>
    <button mat-raised-button color="primary" (click)="stopBot()">Cancel Orders</button>
  </ng-container>
  <ng-container *ngIf="bot?.status !== 'Crashed'">
    <button mat-raised-button color="primary" [disabled]="bot?.status === 'Running' || !bot?.config" (click)="startBot()">Start</button>
    <button mat-raised-button color="primary" [disabled]="bot?.status !== 'Running'" (click)="stopBot()">Cancel Orders and
      Stop
    </button>
    <button mat-raised-button color="primary" [disabled]="bot?.status === 'Running'" (click)="removeBot()">Delete</button>
  </ng-container>

</mat-card>

<ng-container *ngIf="bot?.type === 'GRID'">
  <mat-card>
    <mat-card-title>Configuration</mat-card-title>

    <div class="flex-container">
      <form class="example-form" [formGroup]="form">
        <div *ngIf="bot?.status === 'Running'" style="padding-bottom: 4px;">
          Bot has to be stopped to change the settings.
        </div>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Pair" matInput [formControl]="pairSearch" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let symbol of filteredOptions | async" [value]="symbol" (click)="form.patchValue({pair: symbol})">
              {{symbol}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Upper Wall" value="" formControlName="upperWall"
                 [value]="form.get('upperWall').value">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Lower Wall" value="" formControlName="lowerWall"
                 [value]="form.get('lowerWall').value">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [placeholder]="'Number of Grids (Max: ' + getMaxGrids() + ')'" value="" formControlName="numberOfGrids"
                 [value]="form.get('numberOfGrids').value">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [placeholder]="'Amount per Grid (Min: ' + minOrderSize + ')'" value="" formControlName="amountPerGrid"
                 [value]="form.get('amountPerGrid').value">
        </mat-form-field>

        <button mat-raised-button color="primary"
                [disabled]="!editedForm || gridsAll.length === 0 || form.value.numberOfGrids <= getMaxGrids() || form.value.amountPerGrid < minOrderSize || bot?.status === 'Running' || !form.value.pair || !form.value.upperWall || !form.value.lowerWall || !form.value.numberOfGrids || !form.value.amountPerGrid"
                (click)="saveConfig()">{{editedForm ? 'Save' : 'Saved' }}
        </button>

        <button mat-raised-button color="primary"
                [disabled]="!form.value.pair"
                (click)="initChart(form.value)">Visualize
        </button>

        <div *ngIf="form && form.value.upperWall && form.value.lowerWall && form.value.numberOfGrids && grids.length > 0">
          <p>Grid distance: {{ getGridDistance() }}</p>
        </div>
      </form>

      <mat-spinner *ngIf="currentPair && !showChart"></mat-spinner>
      <apx-chart *ngIf="showChart" [tooltip]="tooltip" [series]="series" [chart]="chart" [title]="title"
                 [xaxis]="xAxis" [yaxis]="yAxis" [stroke]="stroke" [colors]="colors" [grid]="grid"
                 [legend]="legend"></apx-chart>
    </div>

    <div class="flex-container" *ngIf="showChart && form.value.amountPerGrid > 0">
      <h2>Initial Buy Orders (Need {{ totalBuy }} {{ currentPair ? currentPair.split('_')[1] : '' }})</h2>
      <h2>Initial Sell Orders (Need {{ totalSell }} {{ currentPair ? currentPair.split('_')[0] : '' }})</h2>
    </div>
    <div class="flex-container" *ngIf="showChart && form.value.amountPerGrid > 0">
      <app-order-table [pair]="currentPair" [dataSource]="getBuyOrders()"></app-order-table>
      <app-order-table [pair]="currentPair" [dataSource]="getSellOrders()"></app-order-table>
    </div>


  </mat-card>

</ng-container>
